################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DndJournalAPI/.vs/DndJournalAPI/v15/Server/sqlite3
/DndJournalAPI/.vs/DndJournalAPI/v16/Server/sqlite3/storage.ide-wal
/DndJournalAPI/.vs/DndJournalAPI/v16/Server/sqlite3/storage.ide-shm
/DndJournalAPI/.vs/DndJournalAPI/v16/Server/sqlite3/storage.ide
/DndJournalAPI/.vs/DndJournalAPI/v16/Server/sqlite3/db.lock
/DndJournalAPI/.vs/DndJournalAPI/v16/Server/sqlite3
/DndJournalAPI/.vs/DndJournalAPI/v16/.suo
